<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="__TMPL__Public/js/jquery.min.js"></script>
<script src="__TMPL__Public/js/jquery.SuperSlide.2.1.1.js"></script>
<link href="__TMPL__Public/css/css.css" rel="stylesheet">