<div class="header">
    <div class="top">
        <div class="logo">
            <h1><a href="#">上海凯倍达电子科技有限公司</a></h1>
        </div>
        <div class="search-box">
            <div class="search" >
                <form method="post" class="form-inline" action="{:U('portal/search/index')}" style="margin:18px 0;" id="myform">
                    <input type="text" name="keyword" id="search" onfocus="myclear();">
                    <input type="button" value="站内搜索" onclick="mysubmit();" style="cursor: pointer;">
                </form>
            </div>
        </div>
        <script>
            function mysubmit(){
                var content = $("#search").val();
                var myform = $("#myform");
                if(content != '' &&  content != '请输入搜索内容') {
                    myform.submit();
                }else {
                   $("#search").val('请输入搜索内容');
                }
            }
            function myclear(){
               $("#search").val('');
            }
        </script>
    </div>
    <?php
        $date = date('Y.m.d',time());
        $xq = date('N',time());
        switch ($xq) {
            case '1':
                $xq = '星期一';
                break;
            case '2':
                $xq = '星期二';
                break;
            case '3':
                $xq = '星期三';
                break;
            case '4':
                $xq = '星期四';
                break;
            case '5':
                $xq = '星期五';
                break;
            case '6':
                $xq = '星期六';
                break;
            case '7':
                $xq = '星期日';
                break;
        }

        $ch = curl_init();
        $ip = get_client_ip();
		// $ip = '59.108.49.35';
        $url = 'http://api.map.baidu.com/location/ip?ip='.$ip.'&ak=txCwnMDSGj2TKK6FB9yTn2nV9pdUMnSu&coor=bd09ll';
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
        curl_setopt($ch , CURLOPT_URL , $url);
        $res = curl_exec($ch);
        $data = json_decode($res,true);
        if(isset($data['address']) && $data['address']){
            $address_arr = explode('|',$data['address']);

            if(isset($address_arr[2]) && $address_arr[2] != 'None'){
                $address = $address_arr[2];
            } else {
                $address = '北京';
            }
        } else {
            $address = '北京';
        }
        
        //天气接口
        $url = 'http://api.map.baidu.com/telematics/v3/weather?location='.$address.'&output=json&ak=txCwnMDSGj2TKK6FB9yTn2nV9pdUMnSu';
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);        // 不直接输出，返回字符串资源
        curl_setopt($ch , CURLOPT_URL , $url);
        $res = curl_exec($ch);
        $data2 = json_decode($res,true);
        //天气状况
        $weather = $data2['results'][0]['weather_data'][0]['weather'];
        //当前城市
        $city = $data2['results'][0]['currentCity'];
    ?>
    <div style="height:58px;float:right; background-color:#4353B1;padding-right:10px; line-height:60px;">
        <switch name="weather">
            <case value="晴"><img src="__TMPL__Public/images/qing.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="多云"><img src="__TMPL__Public/images/duoyun.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="晴转多云"><img src="__TMPL__Public/images/qingzhuanduoyun.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="晴转阴"><img src="__TMPL__Public/images/qingzhuanduoyun.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="多云转晴"><img src="__TMPL__Public/images/qingzhuanduoyun.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="阵雨转多云"><img src="__TMPL__Public/images/duoyunzhuanyin.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="多云转阴"><img src="__TMPL__Public/images/duoyunzhuanyin.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="阴"><img src="__TMPL__Public/images/yin.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="雨"><img src="__TMPL__Public/images/yu.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="小雨"><img src="__TMPL__Public/images/yu.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="大雨"><img src="__TMPL__Public/images/yu.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="雪"><img src="__TMPL__Public/images/xue.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="小雪"><img src="__TMPL__Public/images/xue.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <case value="大雪"><img src="__TMPL__Public/images/xue.jpg" alt="{$weather}" style="float:right;margin-top:9px;"></case>
            <default /><div style="height:58px;float:right; line-height:58px;color:#fff;font-size:28px;">{$weather}</div>
        </switch>
        <div style="height:30px;float:right;padding-right:5px;">
            <div style='line-height:20px; color:#fff;margin-right:5px;'>{$date}</div>
            <div style='line-height:16px; color:#fff;margin-right:5px;text-align:right;'>{$xq}</div>
            <b style='color:#fff;height:30px;line-height:26px;float:right; margin-right:5px;'>{$city}</b>
            <img src="__TMPL__Public/images/position.jpg" style="float:right;height:20px; margin-top:4px; margin-right:5px;">
        </div>
    </div>
    <div class="nav clearfix" style="order:1px solid red; positon:relative;">
        <?php
			$effected_id="main-menu";
		  	$filetpl="<a href='\$href' target='\$target'>\$label</a>";
            $foldertpl="<a href='\$href' target='\$target' class='dropdown-toggle' data-toggle='dropdown'>\$label <b class='caret'></b></a>";
            $ul_class="dropdown-menu" ;
            $li_class="" ;
            $style="nav";
            $showlevel=6;
            $dropdown='dropdown';
            echo sp_get_menu("main",$effected_id,$filetpl,$foldertpl,$ul_class,$li_class,$style,$showlevel,$dropdown);
        ?>
        <!--<ul>-->
            <!--<li><a href="#">首页</a></li>-->
            <!--<li><a href="#">产品介绍</a></li>-->
            <!--<li><a href="#">技术天地</a></li>-->
            <!--<li><a href="#">应用案例</a></li>-->
            <!--<li><a href="#">关于我们</a></li>-->
        <!--</ul>-->
    </div>

    </div>