<div class="sideMenu" style="margin:0 auto">
    <a class="big"><h3>瑞士Keller压力测量</h3><a>
    <php>
        $terms = sp_get_child_terms(3);
        $did = I('id');
        $cid = I('cid');
        if(empty($cid)){
            $cid = 5;
        }else{
            $cid = $cid;
        }
    </php>
    <ul id="cid-a" data-id="{$cid}" style="display:none;">
        <foreach name="terms" item="vo" > 
            <a class="term" data-id="{$vo['term_id']}" href="{:U('list/index',array('id'=>3,'cid'=>$vo['term_id']))}"><li>{$vo.name}</li></a>    
        </foreach>
    </ul>
    
    <a class="big"><h3>美国Lion Precision位移测量</h3><a>
    <ul id="cid-b" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(4);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>4,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
   
    <a class="big"><h3>德国Micro-Epsilon位移测量</h3><a>
    <ul id="cid-c" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(10);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>10,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
    
    <a class="big"><h3>白俄罗斯Riftek位移测量</h3></a>
   <ul id="cid-d" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(12);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>12,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
        
    <a class="big"><h3>瑞士Huba压力测量</h3></a>
    <ul id="cid-e" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(14);
        </php>
        <foreach name="terms" item="vo" > 
            <a class="term" data-id="{$vo['term_id']}" href="{:U('list/index',array('id'=>14,'cid'=>$vo['term_id']))}"><li>{$vo.name}</li></a>    
        </foreach>
    </ul>
</div><!-- sideMenu End -->
<script>
    $(function(){
        // 点击选中
        var term = $(".term");
        var cid = $("#cid-a").attr("data-id");
        for (var i = 0; i < term.length; i++) {
            var gid = $(term[i]).attr("data-id");
            if(gid == cid){
               $(term[i]).attr("class","selected"); 
            }
        };

        // 展示大分类
        $(".sideMenu h3").click(function(){
            $(".dis").css('display','block');
        });

        // // 左侧菜单
        // jQuery(".sideMenu").slide({
        //     titCell:"h3", //鼠标触发对象
        //     targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        //     effect:"slideDown", //targetCell下拉效果
        //     delayTime:300 , //效果时间
        //     triggerTime:150, //鼠标延迟触发时间（默认150）
        //     defaultPlay:true,//默认是否执行效果（默认true）
        //     trigger:"click",
        //     defaultPlay:false,
        //     //returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
        // });

        // 左侧菜单
        $(".big").click(function(){
            var dis = $(this).nextAll('ul:first').css('display');
            if(dis=='block'){
                $(this).nextAll('ul:first').css('display','none');
                $(this).children('h3').css('background','#fff');
            }else{
                $(this).siblings('ul').css('display','none');
                $(this).nextAll('ul:first').css('display','block');
                $(".sideMenu h3").css('background','#fff');
                $(this).children('h3').css('background','#ebebeb');
            }
        });

        // 锚点定位
        document.getElementById("divId").scrollIntoView();
    });
    
</script>