<div class="sideMenu" style="margin:0 auto">
    <a href="{:U('list/index',array('id'=>3,'cid'=>$vo['term_id'],'big'=>1))}">
        <h3>瑞士KELLER压力测量</h3>
    <a>
    <php>
        $terms = sp_get_child_terms(3);
        $did = I('id');
        $cid = I('cid');
        if(empty($cid)){
            $cid = 5;
        }else{
            $cid = $cid;
        }
    </php>
    <ul id="cid-a" data-id="{$cid}">
        <foreach name="terms" item="vo" > 
            <a class="term" data-id="{$vo['term_id']}" href="{:U('list/index',array('id'=>3,'cid'=>$vo['term_id']))}"><li>{$vo.name}</li></a>    
        </foreach>
    </ul>
    <if condition="$did eq 4">
    <a href="{:U('list/index',array('id'=>4,'cid'=>9,'pid'=>102,'big'=>1))}">
        <h3 class="on">美国LION PRECISION</h3>
    </a>
    <else />
        <a href="{:U('list/index',array('id'=>4,'cid'=>9,'pid'=>102,'big'=>1))}">
        <h3>美国LION PRECISION</h3>
        </a>
    </if>
    <ul id="cid-b" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(4);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>4,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
    <if condition="$did eq 10">
         <a class="term" href="{:U('list/index',array('id'=>10,'cid'=>11,'pid'=>114,'big'=>1))}">
        <h3 class="on">德国MICRO-EPSILON</h3>
        </a>
    <else />
         <a class="term" href="{:U('list/index',array('id'=>10,'cid'=>11,'pid'=>114,'big'=>1))}">
        <h3>德国MICRO-EPSILON</h3>
        </a>
    </if>
    <ul id="cid-c" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(10);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>10,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
    <if condition="$did eq 12">
        <a class="term" href="{:U('list/index',array('id'=>12,'cid'=>67,'pid'=>192,'big'=>1))}">
        <h3 class="on">白俄罗斯RIFTEK</h3>
        </a>
    <else />
        <a class="term" href="{:U('list/index',array('id'=>12,'cid'=>67,'pid'=>192,'big'=>1))}">
        <h3>白俄罗斯RIFTEK</h3>
        </a>
    </if>
   <ul id="cid-d" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(12);
            $arr = array();
            for($i = 0; $i < count($terms); $i++){
                $tid = $terms[$i]['term_id'];
                $tagg = "field:posts.id;order:post_date asc;";
                $posts = sp_sql_posts_bycatid($tid,$tagg);
                $arr[$i]['id'] = $posts[0]['id'];
            }
            $num = count($terms);
        </php>
        <for start="0" end="$num">
            <a class="term" data-id="{$terms[$i]['term_id']}" href="{:U('list/index',array('id'=>12,'cid'=>$terms[$i]['term_id'],'pid'=>$arr[$i]['id']))}"><li>{$terms[$i]['name']}</li></a>
        </for>
    </ul>
        <if condition="$did eq 14">
            <a class="term" href="{:U('list/index',array('id'=>14,'cid'=>79,'big'=>1))}">
            <h3 class="on">瑞士HUBA</h3>
            </a>
        <else />
            <a class="term" href="{:U('list/index',array('id'=>14,'cid'=>79,'big'=>1))}">
            <h3>瑞士HUBA</h3>
            </a>
        </if>
    <ul id="cid-e" data-id="{$cid}">
        <php>
            $terms = sp_get_child_terms(14);
        </php>
        <foreach name="terms" item="vo" > 
            <a class="term" data-id="{$vo['term_id']}" href="{:U('list/index',array('id'=>14,'cid'=>$vo['term_id']))}"><li>{$vo.name}</li></a>    
        </foreach>
    </ul>
</div><!-- sideMenu End -->
<script>
    var term = $(".term");
    var cid = $("#cid-a").attr("data-id");
    for (var i = 0; i < term.length; i++) {
        var gid = $(term[i]).attr("data-id");
        if(gid == cid){
           $(term[i]).attr("class","selected"); 
        }
        // $(term[i]).mouseover(function(){
        //     $("#cid-a").children("a").attr("class","term"); 
        //     $("#cid-b").children("a").attr("class","term"); 
        //     $("#cid-c").children("a").attr("class","term"); 
        //     $("#cid-d").children("a").attr("class","term"); 
        //     $("#cid-e").children("a").attr("class","term"); 
        // });
        // $(term[i]).mouseout(function(){
        //     $(this).attr("class","selected"); 
        // });
    };
</script>