<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
	        <li class="active"><a href="#A" data-toggle="tab">{:L('GENERAL_SETTING')}</a></li>
	        <li><a href="#B" data-toggle="tab">{:L('SEO_SETTING')}</a></li>
	        <li><a href="#C" data-toggle="tab">{:L('TEMPLATE_SETTING')}</a></li>
	    </ul>
		<form class="form-horizontal js-ajax-form" action="{:U('AdminTerm/add_post')}" method="post">
			<div class="tabbable">
		        <div class="tab-content">
		          <div class="tab-pane active" id="A">
						<fieldset>
							<div class="control-group">
								<label class="control-label">{:L('PARENT')}</label>
								<div class="controls">
									<select name="parent">
										<option value="0">{:L('ROOT')}</option>
										{$terms_tree}
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('NAME')}</label>
								<div class="controls">
									<input type="text" name="name" value=""><span class="form-required">*</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">图片</label>
								<div class="controls">
									<input type="hidden" name="thumb" id="thumb" value="">
									<a href="javascript:upload_one_image('图片上传','#thumb');">
										<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand" />
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
								</div>
							</div>


							<div class="control-group">
								<label class="control-label">{:L('CATEGORY_DESCRIPTION')}</label>
								<div class="controls">
									<textarea name="description" rows="5" cols="57"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">介绍</label>
								<div class="controls">
									<input type="hidden" name="taxonomy" value="article">
									<script type="text/plain" id="content" name="content"></script>
								</div>
							</div>
						</fieldset>
		          </div>
		          <div class="tab-pane" id="B">
						<fieldset>
							<div class="control-group">
								<label class="control-label">{:L('SEO_TITLE')}</label>
								<div class="controls">
									<input type="text" name="seo_title" value="">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('SEO_KEYWORDS')}</label>
								<div class="controls">
									<input type="text" name="seo_keywords" value="">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('SEO_DESCRIPTION')}</label>
								<div class="controls">
									<textarea name="seo_description" rows="5" cols="57"></textarea>
								</div>
							</div>
						</fieldset>
		          </div>
		          <div class="tab-pane" id="C">
						<php>$tpl_list=sp_admin_get_tpl_file_list();</php>
						<fieldset>
							<div class="control-group">
								<label class="control-label">{:L('LIST_TEMPLATE')}</label>
								<div class="controls">
									<php>
										$list_tpls=$tpl_list;
										unset($list_tpls['list']);
									</php>
				              		<select  name="list_tpl">
				              			<option value="list">list{:C("TMPL_TEMPLATE_SUFFIX")}</option>
				              			<foreach name="list_tpls" item="vo">
				              				<option value="{$vo}">{$vo}{:C("TMPL_TEMPLATE_SUFFIX")}</option>
				              			</foreach>
				              		</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('ARTICLE_TEMPLATE')}</label>
								<div class="controls">

									<php>
										$article_tpls=$tpl_list;
										unset($article_tpls['article']);
									</php>
				              		<select  name="one_tpl">
				              			<option value="article">article{:C("TMPL_TEMPLATE_SUFFIX")}</option>
				              			<foreach name="article_tpls" item="vo">
				              				<option value="{$vo}">{$vo}{:C("TMPL_TEMPLATE_SUFFIX")}</option>
				              			</foreach>
				              		</select>
								</div>
							</div>
						</fieldset>
		          </div>
		        </div>
		    </div>
		    <div class="form-actions">
		     	<button class="btn btn-primary js-ajax-submit"type="submit">{:L('ADD')}</button>
		      	<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
		    </div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</body>
<script type="text/javascript">
	//编辑器路径定义
	var editorURL = GV.WEB_ROOT;
</script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script>
	$(function(){
		//编辑器
		editorcontent = new baidu.editor.ui.Editor();
		editorcontent.render('content');
		try {
			editorcontent.sync();
		} catch (err) {
		}
		//增加编辑器验证规则
		jQuery.validator.addMethod('editorcontent', function() {
			try {
				editorcontent.sync();
			} catch (err) {
			}
			return editorcontent.hasContents();
		});

	})

</script>
</html>