html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; font-family:"microsoft yahei";z-index: 1;}

header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}

table{border-collapse:collapse;border-spacing:0;}

caption,th{text-align:left;font-weight:normal;}

html,body,fieldset,img,iframe,abbr{border:0;}

i,cite,em,var,address,dfn{font-style:normal;}

[hidefocus],summary{outline:0;}

li{list-style:none;}

h1,h2,h3,h4,h5,h6,small{font-size:100%;}

sup,sub{font-size:83%;}

pre,code,kbd,samp{font-family:inherit;}

q:before,q:after{content:none;}

textarea{overflow:auto;resize:none;}

label,summary{cursor:default;}

a,button{cursor:pointer;}

h1,h2,h3,h4,h5,h6,em{font-weight:normal;}

del,ins,u,s,a{text-decoration:none;}

body,textarea,input,button,select,keygen,legend{font:13px/1.5 microsoft yahei,\5b8b\4f53;color:#4c4c4c;outline:0;}

body{min-width: 1100px;}

.clear{clear:both; height:0; overflow:hidden;}

.clearfix:before,.clearfix:after{content:"."; display:block; visibility:hidden; height:0; line-height:0; font-size:0;}

.clearfix:after{clear:both;}

.clearfix{zoom:1;}

body,html{background: #efefef;}

a{color: #333;}

a:hover{color: #ff9000;}



.header{width: 1100px;margin: 0 auto;}

.top{background: url("../images/top.jpg") no-repeat;width: 1100px;height: 242px;position: relative;}

.logo{position: absolute;left:0;bottom: 25px;}

.logo{background: url("../images/logo.png") no-repeat;width: 450px;height: 60px;text-indent: -99999px;}

.logo a{display: block;width: 450px;height: 60px;}

.search-box{width: 380px;height:43px;position:absolute;bottom: 35px;right:10px;}

.search{position: relative;}

.search input[type=text]{width: 280px;border: none;height:43px;line-height: 43px;background: url("../images/search-bg.png") repeat;text-indent: 10px;}

.search input[type=button]{width: 100px;border: none;height:43px;position: absolute;top:0;right:0;background: #4353b1;color: #fff;}

.header .nav{background: #4353b1;height:60px;}

.header .nav ul li{float: left;}

.header .nav ul li a{width: 130px;display: block;line-height: 60px;font-size: 18px;color: #fff;text-align: center;}

.header .nav ul li a:hover{background: #fff;color: #4c4c4c;}

.main{width: 1100px;margin: 0 auto;background: #f6f6f6;padding-top: 20px;}

.main-box{width: 1100px;margin: 0 auto;}

.main-bg-fff{width: 1100px;margin: 0 auto;background: #fff;padding: 20px 0;}

.pro-main{width: 1100px;margin: 20px auto;background: #fff;}

.main-left{float: left;width: 902px;height:1067px;overflow: hidden;}

.category{width: 432px;float: left;background: #fff;}

.category-right{width: 459px;float: right;background: #fff;}

.category-title{height:50px;line-height: 50px;font-size: 16px;text-indent: 30px;}

.category-color-1{background: #b3b3b3;color: #fff;}

.category-color-2{background: #4353b1;color: #fff;}

.category-color-3{background: #b3b3b3;color: #fff;}

.news .news-recommend-1{width: 400px;margin:  0 auto;padding: 30px 0;border-bottom: 1px dashed #cccccc;}

.news .news-recommend-1{width: 400px;margin:  0 auto;padding: 30px 0;border-bottom: 1px dashed #cccccc;}

.news .news-recommend-1 dl{height:160px;margin-bottom: 10px;}

.news .news-recommend-1 dl dt{float: left;width: 90px;}

.news .news-recommend-1 dl dt img{border: 1px solid #b3b3b3;width: 90px;}

.news .news-recommend-1 dl dd{width: 270px;float: right;border-bottom: 1px dashed #ccc;height:160px;overflow: hidden;}

.news .news-recommend-1 dl dd.n-m-b{border-bottom:none;}

.news .news-recommend-2{padding-left: 16px;}

.news .news-recommend-2 dl{padding-top: 10px;}

.news .news-recommend-2 dl dt{float: left;margin-right: 30px;width: 160px;}

.news .news-recommend-2 dl dt img{width: 160px;}

.news .news-recommend-2 dl dd{padding-right: 10px;}

.company,.news{height:615px;margin-bottom: 20px;overflow: hidden;}

.slideBox{ width:305px; height:120px;  position:relative; margin: 30px auto; }

.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }

.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }

.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }

.slideBox .hd ul li.on{ background:#f00; color:#fff; }

.slideBox .bd{ position:relative; height:100%; z-index:0;   }

.slideBox .bd li{ zoom:1; vertical-align:middle; }

.slideBox .bd img{ width:350px; height:120px; display:block;  }

.slideBox .prev,

.slideBox .next{ position:absolute; left:-50px; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -176px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }

.slideBox .next{ left:auto; right:-50px; background-position:-60px 5px; }

.slideBox .prev:hover,

.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }

.slideBox .prevStop{ display:none;}

.slideBox .nextStop{ display:none;}

.company-desc{width: 395px;margin: 0 auto;background: #f0f0f0;padding: 20px;}

.company-desc p{font-size: 12px;margin-bottom: 20px;text-indent: 20px;}

.category-bottom{margin-top: 20px;}

.categroy-con{width: 400px;height:250px;margin: 30px auto;border: 1px solid #cccccc;}

.categroy-con p{text-align: center;line-height: 1.8;font-size: 14px;}

.categroy-con p.link-index a{font-size: 18px;color: #3767bc;font-weight: bold;text-decoration: underline;background: url("../images/link-icon.jpg") left center no-repeat; padding-left: 15px;}

.category .categroy-con p.link-index a i{color: #eb4e01;}

.category-right .categroy-con{width: 435px;}

.category-color-3 a{float: right;margin-right: 20px;font-size: 14px;color: #fff;}

.category-color-3 a:hover{color: #ff9000;}

.categroy-con ul li span{float: right;font-size: 12px;margin-right: 10px;}

.categroy-con ul li {font-size: 13px;padding-left: 20px;margin: 10px 0;}

.categroy-con ul li a:hover{color: #ff9000;}

.main-right{float: right;width: 188px;background: #fff;height:1067px;overflow: hidden;}

.products dl dt{width: 160px;height:110px;margin: 30px auto;}

.products dl dt img{width: 160px;height:110px;}

.products dl dd{padding: 0 10px;}

.products-list{border: 1px solid #4353ae;width: 90%;margin: 30px auto 0 auto;}

.products-list ul li{padding: 0 10px;}

.products-list ul li a{line-height: 30px;}

.footer{background: #4353b1;padding: 20px 0;margin-top: 30px;}

.footer p{text-align: center;color: #fff;}



/*公司简介*/

.company-main{width: 1100px;margin: 20px auto;background: #fff;}

.company-main h3{width: 200px;height:50px;line-height: 50px;background: #4353b1;color: #fff;font-size: 16px;text-indent: 20px;}

.company-box {width: 960px;margin: 30px auto;}

.lxwm{padding-bottom: 30px;}

.gsjj .left{width: 480px;float: left;background: #ff9000;color: #fff;height:350px;}

.gsjj .left p{padding: 0 50px;margin: 30px 0;text-indent: 20px;}

.gsjj .right img{width: 480px;height:350px;}

.lxwm .left{width: 260px;background: #d2e5ff;height:270px;float: left;}

.lxwm .left p{text-align: center;line-height: 2;}

.lxwm .left p.likn-index a{color: #4353b1;font-size: 18px;font-weight: bold;text-decoration: underline;}

.lxwm .right{float: right;width: 700px;}

.lxwm .right img{width: 700px;height: 270px;}



.cate-list-box{width:1000px;margin: 0 auto;padding: 30px 0;}

.cate-list{margin-bottom: 20px;}

.cate-list h3{background: #4353b1;color: #fff;height:45px;line-height: 45px;font-size: 14px;font-weight: 700;text-indent: 20px;}

.cate-list dl{margin-right: 20px;}

.cate-list dl dt{float: left;margin-top: 10px;}

.cate-info{border-left:1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}

.cate-info dl dt img{width: 130px;height:130px;border: 1px solid #ccc;margin-left: 20px;}

.cate-info dl dd{margin-left: 170px;}

.cate-info dl dd.cate-desc{font-size: 12px;padding: 10px 0;border-bottom: 1px dashed #ccc;text-indent: 20px;}

.cate-info dl dd.cate-desc a{color: #4353b1;}

.pro-cate-list{padding: 10px 0;}

.pro-cate-list h4{width: 80px;float: left;font-size: 14px;font-weight: 500;line-height: 28px;}

.pro-cate-list ul{margin-left: 80px;}

.pro-cate-list ul li{float: left;width: 300px;line-height: 28px;overflow: hidden;margin-right: 20px;}

.pro-cate-list ul li a:hover{color: #4353b1;text-decoration: underline;}

.pro-cate-list h4 a:hover{color: #4353b1;text-decoration: underline;}

.crumb{margin: 15px auto;width: 1100px;background: #fff;height:45px;line-height: 45px;background: #fff;font-size: 14px;text-indent: 20px;}

.pro-list{width: 1060px;margin: 0 auto;border:1px solid #ccc;padding: 20px 0;}

.pro-list .pro-list-left{float: left;margin-left: 30px;margin-top: 30px;width: 170px;}

.pro-list .pro-list-left img{width: 140px;}

.pro-list .pro-list-right{margin-left: 200px;border-left: 1px solid #ccc;padding-left: 30px;}

.pro-list .pro-list-right dl dt{font-size: 16px;line-height: 40px;}

.pro-list .pro-list-right dl dd{line-height: 26px;position: relative;}

.pro-list .pro-list-right dl dd a{font-size: 14px;background: url("../images/list-icon.jpg") left center no-repeat;padding-left: 10px;position: relative;}

.pro-list .pro-list-right dl dd a i{position: absolute;top:0;right:-23px;background: url("../images/news-icon.jpg") no-repeat;display: block;width: 23px;height: 11px;}

.pro-content-box{width: 1070px;margin: auto;}

.pro-content-box h3{background: #4353b1;color: #fff;height:45px;line-height: 45px;font-size: 14px;font-weight: 700;text-indent: 20px;}

.pro-content{border: 1px solid #ccc;border-top: none;padding: 20px;}

/*.pro-content img{width: 100%;}*/

.n-p-pro{line-height:40px;height:40px;font-size: 14px;}

.n-p-pro a.prev{float: left;margin-left: 20px;}

.n-p-pro a.next{float: right;margin-right: 20px;}

.doc-left{float: left;width: 310px;background: #fff;}

.doc-left ul{width: 280px;margin: 0 auto;padding: 20px 0;}

.doc-left ul li{line-height: 40px;font-size: 16px;font-weight: 700;}

.doc-left ul li a{display: block;border-bottom: 2px solid #ccc;}

.doc-left ul li a:hover{border-bottom: 2px solid #4353b1;color: #4353b1;}

.doc-right{float:right;width: 770px;background: #fff;}

.doc-right dl{width: 660px;margin: 0 auto;padding: 10px 0 20px 0;}

.doc-right dl dt{font-size: 16px;height:45px;line-height: 45px;border-bottom: 1px solid #ccc;font-weight: 700;}

.doc-right dl dd{font-size: 14px;height:40px;line-height: 40px;}

.doc-right dl dd a{background: url("../images/v-icon.jpg") left center no-repeat;border-bottom: 1px solid #ccc;display: inline-block;padding-left: 30px;padding-right: 10px;}

.doc-right dl dd a:hover{background: url("../images/v-on-icon.jpg") left center no-repeat;border-bottom: 1px solid #ccc;color: #0021e5;}

.doc-con{padding: 20px 0;}

.doc-con h3{font-size: 14px;text-indent: 30px;}

.video-box{width: 535px;height:315px;overflow: hidden;border: 10px solid #3767bc;margin: 20px auto;border-radius: 10px;}

.doc-right-list{width: 720px;margin: 0 auto;border-bottom: 1px dashed #4353b1;padding: 20px 0;}

.doc-right-list.anli-list{width: 1100px;margin: 0 auto;padding: 20px 0;background: #fff;border-bottom: none;}

.doc-right-list.anli-list h3{width:1040px;font-size: 16px;height:45px;line-height: 45px;font-weight: 700;border-bottom: 2px solid #3767bc;margin: 0px auto 20px auto;text-indent: 20px;}

.doc-right-list h3{font-size: 16px;height:45px;line-height: 45px;font-weight: 700;}

.doc-right-list.anli-list ul{width: 1040px;margin: 0 auto;}

.doc-right-list.anli-list ul li{height:30px;line-height: 30px;text-indent: 20px;}

.doc-right-list ul li{height:30px;line-height: 30px;}

.doc-right-list ul li a{background: url("../images/doc-icon.jpg") left center no-repeat;padding-left: 20px;border-bottom: 1px solid #ccc;}

.doc-right-list ul li a:hover{border-bottom: 1px solid #3753b1;color: #3753b1;background: url("../images/doc-on-icon.jpg") left center no-repeat;}

.anli-pro{background: #fff;margin: 20px 0;padding-bottom: 10px;}

.anli-pro h3{font-size: 16px;height:45px;line-height: 45px;font-weight: 700;border-bottom: 2px solid #3767bc;text-indent: 20px;}

.anli-pro ul li{width: 200px;float:left;margin-right: 8px;margin-top: 20px;}

/*.anli-pro ul li.n-m-r{margin-right: 0;}*/

.anli-pro ul li img{width: 200px;height:162px;border: none;}

.anli-pro ul li p{width: 180px;text-align: center;margin: 0 auto;padding: 10px;height:40px;overflow: hidden;}

.anli-pro-list{width: 1040px;margin: 0 auto;}

.anli-pro ul li:hover{background: #3767bc;}

.anli-pro ul li:hover a{color: #fff;}

.pagination{text-align: center;padding: 20px 0;}

.pagination ul li{display: inline-block;}

.pagination ul li span{padding: 5px 10px;color: #ff9000;}

.pagination ul li a{padding: 5px 10px;border: 1px solid #ccc;margin: 5px;}

.pagination ul li a:hover{border: 1px solid #ff9000;}

.show-title{text-align: center;border-bottom: 1px solid #ccc;padding-bottom: 10px;}

.show-title span{margin: 0 10px;line-height: 1.8;}

.show-title h1{text-align: center;font-size: 18px;line-height: 30px;}

/*keller分类列表开始*/
.keller-list-main-box{width:1100px;margin: 0 auto;margin-top:20px;background:#fff;}
.keller-left{width:250px;margin:20px 0 0 20px;float:left;}
.sideMenu{ border:2px solid #ccc;width:100%;padding-top:10px;}
.sideMenu h3{ width:230px;margin:0 auto;height:50px;line-height:50px;font-size:17px;text-indent:10px;overflow:hidden;}
.sideMenu a:hover{ color:#4e5db5;}
.sideMenu .selected{ color:#4e5db5;}
.sideMenu ul{display:none; /* 默认都隐藏 */ }
.sideMenu ul li{width:230px;margin:0px auto;height:40px;line-height:40px;text-indent:10px;background:#ebebeb;overflow:hidden;}
.on{background:#ebebeb; color:#4e5db5;}
.on a{border-bottom:1px solid #ccc;padding:12px 0px;color:#4e5db5;}
.li-on{color:#4353b1;}
.keller-left-bottom{border:2px solid #ccc;margin-top:15px;width:100%;padding-bottom: 100px;}
.keller-left-bottom>div {width:100%;height:50px;line-height:50px;text-indent:10px;background:#acb3dd;font-size:17px;color:#fff;}
.keller-left-bottom>li{width:100%;height:40px;line-height:40px;font-size:15px;text-indent:10px;}
.keller-left-bottom ul{padding-right:8px;box-sizing:border-box;}
.keller-left-bottom ul li{height:40px;line-height:40px;font-size:14px;text-indent:10px;}
.keller-left-bottom ul div{text-indent:10px;height:80px;float:left;line-height:30px;}
.keller-left-bottom ul span{height:30px;line-height:30px;font-size:14px;text-indent:10px;}
.keller-left-bottom a{height:40px; line-height:40px; font-style:italic;text-indent:10px;color:#4471c0;margin-left:10px;text-decoration:underline;}
.keller-left-bottom a span{color:red;}
.keller-right{float:right;width:780px;margin:20px 25px 0 0;}
.keller-right-first-div{border:1px solid #ccc;width:100%;float:left;}
.keller-right-first-div li{width:100%;height:50px;line-height:50px;text-indent:35px;background:#4353b1;font-size: 17px;color:#fff;margin-bottom:20px;}
.keller-right-first-div>div{padding:2px 30px 30px 30px;}
.keller-right-first-div>div img{float:left;margin:0 30px 20px 0px;}
.keller-right-first-div>div div{float:right;width:435px;text-indent:2em;line-height:20px;}
.keller-right-first-div>div span{padding-left:2em;text-indent:2em;line-height:20px;}
.keller-right-first-div>div p{text-indent:2em;line-height:20px;}
.attachment{height:32px; line-height:32px;margin-top:10px;margin-bottom:20px;float:left;width:100%;text-indent:210px;background:url('../images/load-logo.png') 168px center no-repeat;}
.attachment-other{height:32px; line-height:32px;margin-top:10px;float:left;width:100%;text-indent:90px;background:url('../images/load-logo.png') 50px center no-repeat;margin-bottom:50px;}
.attachment a{border-bottom:1px solid #000;}
.attachment-other a{border-bottom:1px solid #000;}
.list-type{border:1px solid #ccc;width:100%;float:left;margin-top:10px;margin-bottom: 40px;padding-bottom: 30px;box-sizing:border-box;}
.list-type>li{width:100%;height:50px;background:#4353b1;color:#fff;line-height:50px;text-indent:35px;font-size:17px;}
.list-type>ul{border:1px solid #97caff;float:right;margin:30px 10px 10px 10px;width:758px;}
.list-type>ul>ul{border-left:1px solid #97caff;float:right;width:600px;margin:10px 0 10px 0;}
.list-type>ul>ul div{height:40px; line-height:40px;font-size:15px;text-indent:10px;}
.list-type>ul>ul li{height:30px; line-height:30px;text-indent:20px;background: url("../images/list-icon.jpg") 10px 12px no-repeat;}
.list-type>ul>ul li a:hover{text-decoration: underline;color:#4f5eb6;}
.list-type>ul>ul li .onselect{text-decoration: underline;color:#4f5eb6;}
.list-type>div{border:1px solid #ccc;float:right;margin:10px 10px 0px 10px;width:758px;}
.list-type>div>li{width:100%;height:40px;line-height:40px;font-size:15px;background:#b6bff1; text-indent:20px;}
.list-type>div .shutdown{background:#e6e6e6;}
.list-type>div>ul{}
.list-type>div>ul li{list-style:disc;height:26px;line-height:26px;}
.list-type>div>ul table{width:100%;}
/*keller分类列表结束*/
/*lion分类列表开始*/
.list-type>ul>ul li .hot{background:url("../images/news-icon.jpg") center right no-repeat;padding-right:30px;box-sizing:border-box;}	
/*lion分类列表结束*/
/*德国mi分类列表开始*/
/*德国mi分类列表结束*/